<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'About VeggieSetGo'">
  <content has-header="true" has-tabs="true" padding="true" style="background-image:url(img/about/intro.jpg)">
      <div class="card" style="opacity:0.8;">
  <div class="item item-text-wrap" style="text-align:center;">
    <h2 style="padding-bottom:2px;">Travel beyond the vegetarian restaurant</h2>
    <p>VeggieSetGo is where veggie lovers and omnivores can find restaurants to dine out together – anywhere.</p>
  </div>
</div>

      <div class="card" style="opacity:0.8;">
  <div class="item item-text-wrap" style="text-align:center;">
    <h2 style="padding-bottom:2px;">Introducing the Artichoke Rating</h2>
    <img src="img/chokes/artichoke-5.png">
    <p>The artichoke rating shows how vegetarian-friendly a restaurant is on a scale of 1 (1-2 veggie dishes) to 5 (plenty of veggie options to choose from). Restaurants that are completely vegetarian aren't given an artichoke rating – you'll see them marked with a "100% Vegetarian" badge.</p>
    <p>Visit VeggieSetGo on:</p>
  </div>
</div>
    <a ng-href="http://www.veggiesetgo.com"><button class="button button-block button-balanced">
  <p><strong>www.veggiesetgo.com</strong></p>
</button></a>
<div class="row">
  <div class="col">    <a ng-href="http://facebook.com/veggiesetgo"><button class="button button-block button-positive">
  <i class="ion-social-facebook" style="color:#fff; font-size:24px; padding-top:10px;"></i>
</button></a></div>

  <div class="col">    <a ng-href="http://www.twitter.com/veggiesetgo"><button class="button button-block button-calm">
  <i class="ion-social-twitter" style="color:#fff; font-size:24px; padding-top:10px;"></i>
</button></a></div>

  <div class="col">    <a ng-href="http://www.instagram.com/veggiesetgo"><button class="button button-block button-dark">
  <i class="ion-image" style="color:#fff; font-size:24px; padding-top:10px;"></i>
</button></a></div>
</div>
</content>
</view>
