<view title="'Cuisine'">
  <content has-header="true" has-tabs="true">


    <div class="list">
      <a class="item item-avatar" data-ng-repeat="restaurant in restaurants" type="item-text-wrap" href="#/tab/c/restaurant/{{ restaurant.id }}">{{ restaurant.name }}
<!--        <img ng-src="img/restaurants/{{restaurant.photos.mainPhoto}}" width="100" height="100">
        <p><strong>{{restaurant.name}}</strong><br>
        {{restaurant.address.street}}, {{restaurant.address.city}}, {{restaurant.address.state}} {{restaurant.address.country}}</p> -->
      </a>
    </div>
  </content>
</view>